SampleJaxB2Java/src/main/resources/xsd/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu May 18 2017 17:46:06 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="employees">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="employee" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id"></xs:element>
                                             <xs:element name="name"></xs:element>
                                             <xs:element name="dept" maxOccurs="1">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="name" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
